/*

a{
    text-decoration: none;  remove all decor 
}

a:link{
    color: red;
}

a:visited{
    color:green;
}

a:hover{
    color:blue;
    text-decoration: underline;
    border: 1px dashed #666;
}

*/

ul#linkDemo {
    list-style: none;
    margin: 0;
    padding: 0;
}

#linkDemo a {
    display: block;
    float: left;
    width: 175px;
    height: 25px;
    background: url(nav_rollover.jpg) no-repeat left bottom;
    color: white;
    font-weight: bold;
    padding-left: 25px;
    text-decoration: none;
}

#linkDemo a:hover {
    background-position: left top;
    color: #f8b449;
}

p.clear {
    clear: both;
    height: 0;  /* only necessary for IE */
    margin: 0;
    padding: 0;
}



